.title-block{
    width: 100%;
    min-height: 500px;
    margin-top: -110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    & p{
        color: white;
        font-size: 27px;
        width: 100%;
    }
    & :last-child{
        font-size: 40px;   
    }
    & h1{
        color: white;
        font-size: 59px;
        width: 100%;
    }
}
@media (max-width: 1000px){
    .title-block{
        margin-top: 0px;
    }
}