*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
//Картинка title block
.title-img{
    background: linear-gradient(rgba(1, 32, 134, 0.548)), url(/images/trips_images/top1.jpg) center center / cover;
}
//________________________________________________________________________________
//блок "Выберите тур"
main{
    padding: 50px 0px 100px 0px;
    & h2{
        padding-bottom: 50px;
    }
}
.tour-main-block{
    width: 100%;
    & p{
        margin: 20px 0px 20px 0px;
    }
}
.tour-img{
    background: center center / cover;
    flex-grow: 1;
    flex-basis: 500px;
    min-height: 500px;
}
.img-1{
    background-image: url(../images/trips_images/3_01.jpg);
}
.img-2{
    background-image: url(../images/trips_images/2_02.jpg);
}
.img-3{
    background-image: url(../images/trips_images/3_03.jpg);
}
.img-4{
    background-image: url(../images/trips_images/2_04.jpg);
}
.tour-text-block{
    background-color: rgb(255, 193, 85);
    flex-grow: 1;
    flex-basis: 500px;
    min-height: 400px;
    box-sizing: border-box;
    padding: 40px 30px 30px 30px;
    color: white;
    & :nth-last-child(2) , :first-child{
        font-size: 30px;
        font-weight: 600;
    };
}
.text-align{
    text-align: end
}
.margin-left{
    margin-left: auto;
}    
.tour-button{
    background-color: rgb(231, 173, 72);
    width: 190px;
    height: 50px;
    font-size: 17px;
    color: white;
    text-transform: uppercase;
    line-height: 50px;
    border-radius: 2px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(203, 141, 33);
    transition: 0.3s all;
    cursor: pointer;
    &:hover{
        transform: scale(1.04);
        background: rgb(112, 157, 202);
        color: rgb(255, 255, 255);
    }    
}
//____________________________________________________________________________
//Иконка для скрола к top страничке
.arrow-up-block{
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: orange;
    border: 2px solid gray;
    right: 10px;
    bottom: 120px;
    cursor: pointer;
    transition: 0.5s all;
}
.arrow-up-block:hover{
    background-color: lightgreen;
}
.arrow-up{
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    border-top: 4px solid white;
    border-left: 4px solid white; 
    border-radius: 3px;
    transform: rotate(45deg);
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.5s all;
}
.arrow-up-hover{
    border-top: 4px solid coral;
    border-left: 4px solid coral;
}

@media (max-width: 1000px){
    //блок "Выберите тур" выравнивание над фото и по краям.
    .text-align{
        text-align: left;
        flex-direction: column-reverse;
    }
    .tour-text-block{
        height: 100%;
        flex-basis: auto;
    }   
    .margin-left{
        margin-left: 0;
    }    
}