* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title-img {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 32, 134, 0.548))), url(../images/contacts_images/top2.jpg) center center/cover;
  background: linear-gradient(rgba(1, 32, 134, 0.548)), url(../images/contacts_images/top2.jpg) center center/cover;
}

.contacts-block {
  padding: 40px 10px 50px 10px;
}

.contacts-block h2 {
  margin-bottom: 50px;
}

.contacts-block-text p {
  margin-bottom: 20px;
}

.contacts-person-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.person-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
  background-color: orange;
}

.person-img {
  background: center center / cover no-repeat;
  width: 250px;
  min-width: 180px;
  min-height: 180px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  position: relative;
}

.person-img:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 180px;
  background-color: #709dca;
  top: 0;
  right: 0;
}

.img-m {
  background-image: url(../images/contacts_images/man.jpg);
}

.img-w {
  background-image: url(../images/contacts_images/woman.jpg);
}

.person-info {
  width: 330px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 0px 30px 25px;
  position: relative;
}

.person-info p:nth-of-type(1) {
  font-size: 18px;
  font-weight: 600;
}

.person-info p:nth-of-type(2) {
  margin-top: 5px;
}

.person-info p:nth-of-type(3) {
  margin-top: 30px;
}

.person-info a {
  text-decoration: none;
  color: #004edf;
}

.contacts-info-form-block {
  width: 100%;
  margin-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-info-block {
  max-width: 580px;
  min-width: 350px;
  margin-top: 10px;
}

.contacts-info-block div {
  margin: 10px;
}

.contacts-info-block p {
  margin-left: 20px;
  font-size: 18px;
}

.contacts-form-block {
  width: 580px;
  margin-top: 10px;
}

.contacts-form-block p {
  font-size: 18px;
}

.contacts-form-block label {
  position: relative;
  font-size: 20px;
  color: #a5a5a5;
}

.contacts-form-block label :nth-child(2) {
  position: absolute;
  top: 0px;
  left: 13px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.contacts-form-block :nth-of-type(3) :nth-child(2) {
  position: absolute;
  top: -115px;
}

input, [name="message"] {
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  outline: none;
}

[type="text"], [name="message"] {
  border: 4px solid orange;
  border-radius: 2px;
}

[type="submit"] {
  height: 50px;
  min-width: 300px;
  background-color: #273a43;
  color: white;
  margin-top: 15px;
  cursor: pointer;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

[type="submit"][type="submit"]:hover {
  background-color: #2596b3;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.adr-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-adr {
  background: center center / contain no-repeat;
  width: 40px;
  height: 40px;
}

.contacts-form-block {
  max-width: 580px;
}

.hide-form-block {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  margin: auto;
  background-color: rgba(128, 128, 128, 0.404);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-block {
  position: relative;
  max-width: 700px;
  min-width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px 20px;
  background-color: white;
  border: 3px solid orange;
}

.form-block :nth-of-type(3) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 0px 0px 0px;
  border: 3px solid orange;
  margin: 10px 0px 10px 0px;
  overflow: hidden;
  font-size: 22px;
}

.info :nth-child(1) {
  background-color: orange;
  color: white;
  padding: 10px;
}

.info:nth-child(3) {
  min-height: 200px;
}

.info div {
  padding: 10px;
}

.cancel {
  background-color: #2596b3;
  width: 35px;
  height: 35px;
  margin: 5px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  cursor: pointer;
}

.cancel:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background-color: #ec703e;
}

.cancel-arrow {
  background-color: white;
  width: 4px;
  height: 30px;
  position: relative;
  left: 16px;
  top: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cancel-arrow:before {
  content: "";
  position: absolute;
  background-color: white;
  width: 4px;
  height: 30px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

iframe {
  border-top: 4px solid orange;
}

.arrow-up-block {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: orange;
  border: 2px solid gray;
  right: 10px;
  bottom: 120px;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.arrow-up-block:hover {
  background-color: lightgreen;
}

.arrow-up {
  height: 20px;
  width: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-radius: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.arrow-up-hover {
  border-top: 4px solid coral;
  border-left: 4px solid coral;
}

@media (max-width: 546px) {
  .person-img {
    height: 250px;
  }
  .person-img:before {
    height: 250px;
  }
}

form {
  margin-bottom: 40px;
}

.table {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  display: table;
  border: 2px solid orange;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  padding: 10px;
  border: 2px solid orange;
}
/*# sourceMappingURL=style_contacts.css.map */